<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ObsidianMoose.kbitzr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kbitzr</name>
    <description>
       Apples to Apples for your phone.
    </description>
    <author email="jon7ng@gmail.com" href="http://github.com/obsidian-moose/">
        Obsidian Moose
    </author>
    <content src="mobile.html" />
    <access origin="*" />
</widget>