<div class="app-prompt">
  <div class="app-suggestion-box" ng-repeat="suggestion in randomList" ng-click="exampleFunction(suggestion)"><b>{{suggestion}}</b></div>
  <div class="app-suggestion-box" ng-click="changeStateToSuggestions()"><b style="color:#50723c">See More Suggestions</b></div>
  <br>

  <a class="app-prompt-box left-align hover-red paragraph" ng-repeat="suggestion in categories[id]" ng-click="goToCreatePrompt(suggestion)"><div>{{suggestion}}</div></a>

<!--     <a href="#" class="app-prompt-box left-align hover-red paragraph">
      <div class="app-box-arrow">
        <img src="img/next.png" />
      </div>
    </a>
    <a href="#" class="app-prompt-box left-align hover-red paragraph">
      <div class="app-box-text">"Picture of a coworker not washing their hands when leaving the bathroom and then a picture of the first thing they touch when they walk out."</div>
      <div class="app-box-arrow">
        <img src="img/next.png" />
      </div>
    </a>
    <a href="#" class="app-prompt-box left-align hover-red paragraph">
      <div class="app-box-text">"Just a picture of a coworker with bunny ears."</div>
      <div class="app-box-arrow">
        <img src="img/next.png" />
      </div>
    </a>
    <a href="#" class="app-prompt-box left-align hover-red last paragraph">
      <div class="app-box-text">"Somebody looking at something that's NSFW."</div>
      <div class="app-box-arrow">
        <img src="img/next.png" />
      </div>
    </a>
  </div> -->
</div>